// change the theme
:root {
  --font-color: #424242;
  --bg-color: #fff;
  --bg-grey: #FBFBFB;
}

[data-theme="dark"] {
  --font-color: #e1e1ff;
  --bg-color: #000000;
  --bg-grey: #0e0e0e;
}

$primary: rgb(214, 84, 24);
$secondary: rgb(135, 227, 135);
$danger: #fa5c7c;
$warning: #ffbc00;

body{
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: background .4s, color .4s;
}

.score-content{
  transform: translate(-50%, -50%);
  left: 50%;
  top: calc(50% + 25px);
}

.border-primary{
  border-color: $primary;
}

.border-secondary{
  border-color: $secondary;
}

.bg-grey{
  background-color: var(--bg-grey);
}

.text-primary{
  color: $primary;
}

.text-secondary{
  color: $secondary;
}

.text-danger{
  color: $danger;
}

.text-warning{
  color: $warning;
}

.bg-primary{
  background-color: $primary;
}

.bg-secondary{
  background-color: $secondary;
}

.bg-danger{
  background-color: $danger;
}

.bg-warning{
  background-color: $warning;
}